/* Navbar */

.Header-btn {
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
}

.Header-btn:hover {
    background-color: black;
}


.Header-btn a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.Header-btn a:hover {
    color: white;

}